*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Quicksand', sans-serif;
   font-size: 16px;
   line-height: 120%;
}
ul, ol {
   list-style: none;
}
a {
   text-decoration: none;
   cursor: pointer;
   color: #000;
}
h1, h2, h3, h4, h5, h6, p {
   cursor: default;
}
.content {
   width: 1296px;
   margin: 0 auto;
}
button {
   cursor: pointer;
}
.green_button {
   display: inline-block;
   color: #fff;
   border: 2px solid #0F8277;
   background-color: #0F8277;
   padding: 10px 12px;
   border-radius: 4px;
   font-weight: 700;
   line-height: 120%;
}
