.header {
   display: flex;
   align-items: center;
   padding: 30px 0;
}
.header_logo,
.footer_logo {
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 0.64px;
}
.header_dropdown_button {
   position: relative;
   color: #eee;
   text-align: center;
   font-weight: 700;
   padding: 10px 28px 10px 12px;
   border-radius: 4px;
   border: 1px solid #0F8277;
   background-color: #0F8277;
}
.header_dropdown_button::after {
   content: "";
   position: absolute;
   right: 10px;
   top: 10px;
   width: 10px;
   height: 14px;
   background: url("../image/white_arrow.svg") no-repeat;
}
.header_search {
   width: 330px;
   border-radius: 4px;
   border: 1px solid #5C5C5C;
   outline: none;
   padding: 10px 12px;
   margin-left: 44px;
}
.header_search_box {
   position: relative;
}
.header_search_box::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 36px;
   height: 39px;
   background-image: url('../image/loop_icon.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-color: #0F8277;
   border: 1px solid #5C5C5C;
   border-radius: 0 4px 4px 0;
}
.header_search::placeholder {
   color: #5C5C5C;
   font-weight: 500;
}
.header_navbar {
   margin-left: 112px;
}
.navbar_menu {
   display: flex;
   gap: 48px;
}
.navbar_menu-list {
   color: #000;
   font-weight: 500;
}
.navbar_menu-link {
   color: #000;
   font-weight: 500;
}
.registration_menu {
   display: flex;
   align-items: center;
   gap: 16px;
   margin-left: auto;
}
.login_button {
   color: #0F8277;
   font-weight: 700;
   border: 1px solid #fff;
   background-color: #fff;
}

.drop {
   position: relative;
   margin-left: 44px;
}
.drop:hover .dropdown_menu {
   display: block;
}
.dropdown_menu {
   position: absolute;
   top: 43px;
   left: 0;
   width: 384px;
   height: 558px;
   background-color: #fff;
   padding: 16px 12px 33px;
   box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
   z-index: 3;
   display: none;
}
.dropdown_nav_menu-list:first-child {
   margin-bottom: 16px;
}
.dropdown_goals_menu {
   margin-bottom: 40px;
}
.dropdown_goals_menu-list:first-child,
.dropdown_theme_menu-list:first-child {
   font-weight: 700;
   margin-bottom: 24px;
}
.dropdown_goals_menu-list:not(:first-child, :last-child),
.dropdown_theme_menu-list:not(:first-child, :last-child) {
   margin-bottom: 16px;
}


.hero_block {
   position: relative;
   border-radius: 12px;
   background: #DBF3ED;
   padding: 170px 110px 184px;
   margin-bottom: 80px;
}
.hero_block::after {
   content: "";
   position: absolute;
   top: 39px;
   right: 56px;
   background-image: url("../image/hero-img.png");
   background-repeat: no-repeat;
   width: 526px;
   height: 533px;
}
.hero_block__title {
   color: #000;
   font-size: 3.5em;
   font-weight: 700;
   margin-bottom: 32px;
}
.hero_block__text {
   width: 482px;
   color: #000;
   font-size: 1.35em;
   font-weight: 600;
   margin-bottom: 32px;
}
.start-learn_btn {
   color: #fff;
   border: 2px solid #0F8277;
   background-color: #0F8277;
   font-weight: 700;
   line-height: 120%;
}
.learn-more_btn {
   color: #0F8277;
   border: 2px solid #0F8277;
   background-color: transparent;
   padding: 10px 12px;
   border-radius: 4px;
   font-weight: 700;
   margin-left: 24px;
}


.academic_trainings {
   margin-bottom: 80px;
}
.title_block {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 40px;
}
.section_name {
   color: #0F8277;
   font-size: 1.25em;
   font-weight: 700;
}
.section_title {
   color: #000;
   font-size: 40px;
   font-weight: 700;
}
.section_description {
   color: #000;
   font-size: 20px;
   font-weight: 500;
}

.card_block {
   display: flex;
   justify-content: space-between;
}
.card_item {
   width: 416px;
   height: 480px;
   border: 1px solid #DADADA;
   border-radius: 8px;
   position: relative;
   display: block;
}

.card_image {
   border-radius: 7px 7px 0 0;
   width: 100%;
   height: 270px;
}
.card_content {
   height: calc(100% - 274px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 24px 16px;
}

.company_name {
   color: #000;
   font-weight: 500;
}

.company_name_one {
   position: relative;
   margin-left: 84px;
}
.company_name_one::before {
   content: "";
   position: absolute;
   top: 0;
   left: -82px;
   background-image: url("../image/dan-logo.svg");
   width: 72px;
   height: 20px;
}
.company_name_two {
   position: relative;
   margin-left: 30px;
}
.company_name_two::before {
   content: "";
   position: absolute;
   top: -1px;
   left: -30px;
   background-image: url("../image/eu_logo.svg");
   width: 18px;
   height: 20px;
}
.company_name_three {
   position: relative;
   margin-left: 57px;
}
.company_name_three::before {
   content: "";
   position: absolute;
   top: 0;
   left: -57px;
   background-image: url("../image/logo-prjctr.svg");
   width: 46px;
   height: 20px;
}

.card_content_title {
   color: #000;
   font-size: 1.5em;
   font-weight: 700;
   margin-top: 16px;
}
.get_diploma {
   position: relative;
   color: #0F8277;
   font-weight: 500;
   margin-left: 32px;
}
.get_diploma::before {
   content: "";
   position: absolute;
   top: 0;
   left: -31px;
   background-image: url("../image/hat.svg");
   width: 20px;
   height: 20px;
}

.courses {
   margin-bottom: 83px;
}
.cours_cards-item {
   width: 306px;
   height: 480px;
   border: 1px solid #DADADA;
   border-radius: 8px;
   position: relative;
   display: block;
}
.cours_cards_image {
   width: 100%;
   height: 270px;
   border-radius: 7px 7px 0 0;

}
.cours_cards_content {
   height: calc(100% - 274px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 24px 16px;
}
.cours_name {
   margin-top: 16px;
   font-size: 1.5em;
   font-weight: 700;
}
.cours_text {
   color: #0F8277;
   font-weight: 500;
}
.cours_button {
   display: block;
   position: relative;
   color: #0F8277;
   font-size: 1.25em;
   font-weight: 700;
   margin: 40px auto 0;
   width: fit-content;
}
.cours_button::after {
   content: "";
   position: absolute;
   top: 4px;
   right: -30px;
   background-image: url("../image/arrow.svg");
   width: 20px;
   height: 20px;
}


.topics {
   margin-bottom: 83px;
}
.topics_category {
   display: flex;
   justify-content: space-between;
   margin: 40px 0;
}
.category_menu-list:not(:last-child) {
   margin-bottom: 32px;
}
.topic_name {
   font-weight: 700;
   font-size: 1.5em;
}
.category_name {
   color: #0F8277;
   font-size: 1.25em;
   font-weight: 700;
   margin-bottom: 10px;
   display: block;
   width: fit-content;
}
.category_button {
   display: block;
   position: relative;
   color: #0F8277;
   font-size: 1.25em;
   font-weight: 700;
   margin: 40px auto 0;
   width: fit-content;
}
.category_button::after {
   content: "";
   position: absolute;
   top: 4px;
   right: -30px;
   background-image: url("../image/arrow.svg");
   width: 20px;
   height: 20px;
}



.cooperate {
   background-color: #DBF3ED;
}
.cooperate_content {
   padding: 80px 0;
}
.cooperate_title {
   width: 871px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 60px;
}
.cooperate_content_icons {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bussines {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 72px;
   margin-top: 80px;
   margin-bottom: 80px;
}
.bussines_content_title {
   margin-bottom: 32px;
}
.bussines_content_text {
   font-size: 1.375em;
   font-weight: 600;
   width: 568px;
   margin-bottom: 32px;
}

.bussines_icons_menu {
   display: grid;
   grid-template-columns: repeat(3, 196px);
   grid-template-rows: repeat(3, 136px);
}
.bussines_icons_menu-list {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.bussines_icons_menu-list:nth-child(1),
.bussines_icons_menu-list:nth-child(2),
.bussines_icons_menu-list:nth-child(4),
.bussines_icons_menu-list:nth-child(5) {
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.bussines_icons_menu-list:nth-child(7),
.bussines_icons_menu-list:nth-child(8) {
  border-right: 1px solid #bababa;
}
.bussines_icons_menu-list:nth-child(3),
.bussines_icons_menu-list:nth-child(6) {
  border-bottom: 1px solid #bababa;
}



.offers_cards {
   background-color: #DBF3ED;
}
.offers_cards_content {
   padding: 80px 0 100px;
}
.offers_cards_content_title {
   text-align: center;
}
.offers {
   display: flex;
   justify-content: space-between;
   /* align-items: normal; */
   margin-top: 40px;
}
.offres_item {
   display: flex;
   flex-direction: column;
   width: 416px;
   background-color: #F6FDFF;
   border: 1px solid #0F8277;
   border-radius: 24px;
   padding: 56px;
}
.offres_item_special {
   display: flex;
   flex-direction: column;
   width: 416px;
   background-color: #0F8277;
   border: 1px solid #0F8277;
   border-radius: 24px;
   padding: 56px;
}
.plan_title {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 304px;
   height: 286px;
}
.offres_item_title {
   text-align: center;
   margin-bottom: 27px;
}
.offres_item_title_special {
   text-align: center;
   color: #fff;
   margin-bottom: 27px;
}
.offres_item_text {
   text-align: center;
   margin-bottom: 27px;
}
.offres_item_text_special {
   text-align: center;
   margin-bottom: 27px;
   color: #fff;
}
.offres_item_price_wrapper {
   display: flex;
   align-items: center;
   gap: 16px;
}
.offres_item_price {
   font-size: 2.5em;
   font-weight: 700;
}
.offres_item_price_special {
   font-size: 2.5em;
   font-weight: 700;
   color: #fff;
}
.offres_item_period_special {
   color: #fff;
}
.offres_item_button {
   margin-top: auto;
}
.offres_item_button_special {
   border: 2px solid #fff;
   margin-top: auto;
}
.line {
   width: 100%;
   border-radius: 80px;
   
}
.green-line {
   border: 1px solid #0F8277;
   margin-top: 48px;
   margin-bottom: 48px;
}
.white-line {
   border: 1px solid #fff;
   margin-top: 48px;
   margin-bottom: 48px;
}
.black-line {
   margin-top: 40px;
   margin-bottom: 40px;
   border: 1px solid #000;
}

.gain {
   position: relative;
   margin-left: 32px;
}
.gain::before {
   content: "";
   position: absolute;
   top: 0;
   left: -32px;
   background-image: url("../image/Vector_white.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-color: #0F8277;
   border-radius: 50%;
   width: 16px;
   height: 16px;
}
.gain_special {
   position: relative;
   margin-left: 32px;
   color: #fff;
}
.gain_special::before {
   content: "";
   position: absolute;
   top: 0;
   left: -32px;
   background-image: url("../image/Vector_green.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-color: #fff;
   border-radius: 50%;
   width: 16px;
   height: 16px;
}



.students {
   margin: 80px auto;
}
.students_title {
   text-align: center;
}
.students_pictures_menu {
   display: grid;
   grid-template-columns: repeat(4, 306px);
   grid-template-rows: repeat(3, 210.5px);
   grid-gap: 24px;
   margin-top: 40px;
}
.students_pictures_item:nth-child(1) {
   grid-area: 1 / 1 / 2 / 2;
}
.students_pictures_item:nth-child(2) {
   grid-area: 2 / 1 / 3 / 2;
}
.students_pictures_item:nth-child(3) {
   grid-area: 3 / 1 / 4 / 2;
}
.students_pictures_item:nth-child(4) {
   grid-area: 3 / 2 / 4 / 3;
}
.students_pictures_item:nth-child(5) {
   grid-area: 3 / 3 / 4 / 4;
}
.students_pictures_item:nth-child(6) {
   grid-area: 3 / 4 / 4 / 5;
}
.students_pictures_item:nth-child(7) {
   grid-area: 2 / 4 / 3 / 5;
}
.students_pictures_item:nth-child(8) {
   grid-area: 1 / 4 / 2 / 5;
}
.students_pictures_item:nth-child(9) {
   grid-area: 1 / 2 / 3 / 4;
}



.contact_us {
   width: 100vw;
   background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../image/form_bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 65px 0 48px;
}
.form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 565px;
   padding: 30px;
   border-radius: 24px;
   background-color: #DBF3ED;
   margin: 0 auto;
}
.form_title,
.form_text {
   margin: 0 auto 24px;
}
.form_text {
   text-align: center;
   width: 404px;
}

.label {
   font-size: 1.375em;
   margin-bottom: 8px;
}
#name, #email, #message {
   width: 100%;
   outline: none;
   border-radius: 4px;
   border: 1px solid #0F8277;
   padding: 12px;
   margin-bottom: 24px;
}
#message {
   height: 104px;
   resize: none;
}
.form_button {
   font-family: 'Cabin', sans-serif;
   width: 196px;
}


.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 64px 0;
}
.left_footer {
   height: 111px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.left_footer_text {
   width: 306px;
}


.rigth_footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 111px;
}
.footer_icon_menu {
   display: flex;
   gap: 24px;
   margin-left: auto;
}
.footer_icon_menu-list {
   width: 32px;
   height: 32px;
}
.footer_icon_menu-link {
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 50%;
}
.insta_icon {
   background-image: url('../image/insta_icon.svg');
}
.face_icon {
   background-image: url('../image/facebook_icon.svg');
}
.in_icon {
   background-image: url('../image/in_icon.svg');
}